
@using Ags.Data.Domain
@using Ags.Services.Media
@model TopMenuModel
@inject StoreInformationSettings StoreInformationSettings
@inject IPictureService PictureService
<div class="main-menu float-left d-none d-md-block" data-title="TopMenu">
    <nav>
        <ul>
            <li>
                <a href="@Url.Action("Index","Home")">ANASAYFA</a>
            </li>
            @foreach (var menu in Model.Categories)
            {
                var subCategori = Model.Categories.Where(x => x.ParentCategoryId == menu.Id);
                if (subCategori.Any())
                {

                    <li class="has-dropdown">
                        <a href="#">@menu.Name</a>
                        <ul class="sub-menu">
                            @foreach (var item in subCategori)
                            {
                                <li>
                                    <a href="@Url.Action("Category","Catalog",new{id=item.Id,title=item.SeName})" style="text-decoration: none;">@item.Name</a>
                                </li>
                            }
                        </ul>
                    </li>
                }
                else if (menu.ParentCategoryId == 0)
                {
                    <li>
                        <a href="@Url.Action("Category","Catalog",new{id=menu.Id,title=menu.SeName})">@menu.Name</a>

                    </li>
                }
            }

            @foreach (var topic in Model.Topics)
            {
                <li>
                    <a href="@Url.Action("TopicDetails","Topic",new{SeName=topic.SeName})"></a>
                </li>
            }

        </ul>
    </nav>

</div>
<div class="mobile-logo d-none d-block d-md-none">
    <a href="@Url.Action("Index", "Home")">
        <img src="@PictureService.GetPictureUrl(StoreInformationSettings.WhiteLogoPictureId)" alt="Logo">
    </a>
</div>
<div class="header-search float-right">
    <button class="header-search-toggle"><i class="fa fa-search"></i></button>
    <div class="header-search-form">
        <form action="#">
            <input type="text" placeholder="Haber Ara">
        </form>
    </div>
</div>
<div class="mobile-menu-wrap d-none">
    <nav>
        <ul>
            <li class="active has-dropdown">
                <a href="@Url.Action("Index","Home")">Anasayfa</a>
            </li>
            @foreach (var menu in Model.Categories)
            {
                var subCategori = Model.Categories.Where(x => x.ParentCategoryId == menu.Id);
                if (subCategori.Any())
                {

                    <li class="has-dropdown">
                        <a href="#">@menu.Name</a>
                        <ul class="sub-menu">
                            @foreach (var item in subCategori)
                            {
                                <li>
                                    <a href="@Url.Action("Category","Catalog",new{id=item.Id,title=item.SeName})">@item.Name</a>
                                </li>
                            }
                        </ul>
                    </li>
                }
                else if (menu.ParentCategoryId == 0)
                {
                    <li>
                        <a href="@Url.Action("Category","Catalog",new{id=menu.Id,title=menu.SeName})">@menu.Name</a>

                    </li>
                }
            }
        </ul>
    </nav>
</div>
<div class="mobile-menu"></div>