@model SocialModel
<a href="@Model.FacebookLink"><i class="fa fa-facebook"></i></a>
<a href="@Model.TwitterLink"><i class="fa fa-twitter"></i></a>
<a href="@Model.GooglePlusLink"><i class="fa fa-google-plus"></i></a>
<a href="@Model.Instagram"><i class="fa fa-instagram"></i></a>
<a href="@Model.YoutubeLink"><i class="fa fa-youtube-play"></i></a>
<a href="#"><i class="fa fa-vimeo"></i></a>