@using Ags.Services.Common
@inject ISectionService SectionService
@{
    Layout = "_Layout";
}

@if (IsSectionDefined("SliderUst"))
{
    @RenderSection("SliderUst")
}
@if (IsSectionDefined("banner"))
{
    @RenderSection("banner")
}
@*<div class="hero-section section mt-30 mb-30" data-title="_oneColumn">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="row row-1">
                        <div class="order-lg-2 col-lg-6 col-12">
                            @if (IsSectionDefined("Slider")){
                                @RenderSection("Slider")
                            }
                        </div>
                        <div class="order-lg-3 col-lg-3 col-12">
                            @if (IsSectionDefined("Slider1")){
                                @RenderSection("Slider1")
                            }
                        </div>
                        <div class="order-lg-3 col-lg-3 col-12">
                            @if (IsSectionDefined("Slider2")){
                                @RenderSection("Slider2")
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
@if (IsSectionDefined("SliderAlt"))
{
    @RenderSection("SliderAlt")
}
@*<div class="popular-section section pt-50 pb-50">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="popular-post-slider">
                        @await Component.InvokeAsync("PopulerSection")
                    </div>
                </div>
            </div>
        </div>
    </div>*@
@*@if (IsSectionDefined("PopulerSection"))
{
    @RenderSection("PopulerSection")
}*@
<div class="post-section section mt-50">
    <div class="container">
        @if (IsSectionDefined("PostSectionLeft"))
        {
            <div id="reklam-sol" class="ads160x600l">
                @RenderSection("PostSectionLeft")
            </div>
        }
        @if (IsSectionDefined("PostSectionRigth"))
        {
            <div id="reklam-sag" class="ads160x600r">
                @RenderSection("PostSectionRigth")
            </div>

        }
        <div class="row">
            <div class="col-lg-12 col-12 mb-50">
                @RenderBody()
            </div>
        </div>
    </div>
</div>
<br /><br />

@section scripts
    {
    @await RenderSectionAsync("scripts", required: false).ConfigureAwait(false)
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5241c4767b9ce193"></script>
}