@model CategoriModel
<div class="col-lg-4 col-md-6 col-12 mb-50" data-title="MainPageDown">
    <div class="post-block-wrapper">
        <div class="head education-head">
            <h4 class="title">@Model.Name</h4>
        </div>
        <div class="body">
            <div class="four-row-post-carousel row-post-carousel post-block-carousel education-post-carousel">
                @foreach (var item in Model.NewsModels)
                {
                    <div class="post post-small post-list education-post">
                        <div class="post-wrap">
                            <a class="belediye image" href="@Url.Action("Index", "News", new {id = item.Id, title = item.SeName})">
                                <img src="@item.PictureUrl"  alt="post">
                            </a>
                            <div class="content">
                                <h5 class="title">
                                    <a href="@Url.Action("Index", "News", new {id = item.Id, title = item.SeName})">
                                        @item.Title
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>

